<!DOCTYPE html>
<html lang="ru">
<html ng-app="pledgeStore">
<head>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>Стань папой!</title>
    <meta charset="utf-8">

</head>
<body class="container" ng-controller="PledgeController as pldg">
<p><img ng-src="{{pldg.photo}}" width="120" height="120" class="img-rounded" style="float: left">
<h2>пользователь <input type="text" ng-model="pldg.user"> <br/>
    Ваш регион: Киев. Вы можете подать еще {{pldg.balance}} заявки на папство</h2>
<div style="clear: both"></div>
</p>

<div class="product row" ng-repeat="event in pldg.events" style="border-bottom: solid 1px">
    <h3> {{event.title}}</h3>
    <div class="frame">
        <img ng-src="{{event.img}}" style="height: 120px">
    </div>

    <p>{{event.full}}</p>
    <div>Уже подали заявки: <span ng-repeat="applicant in event.applicants">{{applicant}} </span></div>
    <button class="btn btn-success" ng-hide="event.registred" ng-click="pldg.addPledge($index)">
        Хочу стать папой</button>
    <button disabled class="button disabled" ng-show="event.registred">Вы уже подали заявку</button>
</div>

<div> (c)epld 2015 </div>
<footer>
    <button class="btn btn-warning" ng-click="pldg.saveData()">Let's save</button>
    <button class="btn btn-danger" ng-click="pldg.delData()">Delete my data</button>
</footer>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
</body>
</html>