<!DOCTYPE html>
<html lang="ru">
<html ng-app="pledgeStore">
<head>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>ePledger 4</title>
    <meta charset="utf-8">

</head>
<body class="container" ng-controller="PledgeController as pldg">
<h2>Остаток на счету <em>{{pldg.balance | currency}} у пользователя {{pldg.user}}</em></h2>
<input type="text" ng-model="pldg.user" disabled>
<img src="img/rafael140.jpg" class="img-rounded">
<button class="btn btn-warning" ng-click="pldg.saveData()">Let's save</button>
<button class="btn btn-danger" ng-click="pldg.delData()">Delete my data</button>
<div class="product row" ng-repeat="event in pldg.events" style="border-bottom: solid 1px">
    <h3> {{event.title}}-{{event.date | date}}</h3>
    <div class="frame">
        <img ng-src="{{event.img}}" style="height: 60px">
    </div>

    <p>{{event.full}}</p>

    <button class="btn btn-success" ng-hide="event.registred" ng-click="pldg.addPledge($index)">
        Уверен/Уверена на <em class="">${{event.price}}</em> ,что смогу быть</button>
    <button disabled class="button disabled" ng-show="event.registred">Вы уже зарегистрированы</button>
</div>
<div ng-hide="pldg.index===1">Последнее добавленное событие {{pldg.events[pldg.index].title}}</div>
<div> (c)epld 2015 </div>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
</body>
</html>